* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin: 0 10%;
    background-color: #0c6e68;
}
.card-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}
.card-content {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.card-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 2.3rem;
    margin-bottom: 2.3rem;
}
.card-body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 1.8rem;
    margin-bottom: 4.6rem;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.card-read-time{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d1d1d1;
    font-size: 1.5rem;
}
span {
    display: flex;
}
.card-btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #54d1da;
    color: #ffffff;
    padding: 0.5em 1em;
    text-decoration: none;
    height: 1em;
}
@media (min-width:1200px) {
    .card {
        display: flex;
        padding-right: 4rem;
        margin: 0 10%;
    }
    .card-img {
        width: 25%;
        height: auto;
        background-color: chartreuse;
    }
    .card-title {
        font-size: 2.5rem;
        
    }
    .card-body {
        line-height: 3rem;
    }
    .card-footer {
        margin-top: auto;
    }
}